<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <div class="bg-circle blue"></div>
    <div class="bg-circle purple"></div>

    <div class="login-container">
      <div class="login-card">
        
        <div class="header-section">
          <div class="logo-box">
            <img src="assets/icon/logo_ieca2.png" alt="Logo IECA">
          </div>
          <h1 class="main-title">
            Iglesia del Evangelio<br>
            <span class="highlight">Cuadrangular</span><br>
            <span class="sub-name">“La Alborada”</span>
          </h1>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form-content">
          
          <label class="input-label">Usuario</label>
          <ion-item lines="none" class="modern-input">
            <ion-input 
              formControlName="usuario" 
              type="text" 
              placeholder="Ingresa tu usuario">
            </ion-input>
          </ion-item>

          <label class="input-label">Contraseña</label>
          <ion-item lines="none" class="modern-input password-item">
            <ion-input 
              formControlName="password" 
              [type]="showPassword ? 'text' : 'password'" 
              placeholder="••••••••">
            </ion-input>
            
            <ion-button
              fill="clear"
              slot="end"
              type="button"
              class="custom-eye-btn"
              (click)="togglePassword()">

              <ion-icon
                slot="icon-only"
                [name]="showPassword ? 'eye-off-outline' : 'eye-outline'">
              </ion-icon>
            </ion-button>
          </ion-item>

          <div class="forgot-container">
            <p class="forgot-text">¿Olvidaste tu contraseña?</p>
          </div>

          <ion-button expand="block" type="submit" class="submit-btn" [disabled]="loginForm.invalid">
            Iniciar Sesión
            <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
          </ion-button>
        </form>

        <div class="footer-info">
          <span class="badge">@2025 IECA</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>